.dropdown{
    display: inline-block!important;
    &.show{
      .dropdown-menu.show {
        margin-bottom: 1rem;
      }
    }
    .dropdown-icon{
      cursor: pointer!important;
    }
    .dropdown-menu {
      &.dropdown-menu-right {
        &.action-dropdown-menu{
          .dropdown-item{
            padding-right: 0!important;
            padding-left: 0!important;
            display: flex!important;
            margin-top: 0!important;
            padding: 0.25rem 0.5rem!important;
            .action-text-wrapper{
              width: 2rem!important;
              text-align: center!important;
              .fa{
                text-align: center!important;
                padding-top: 0.5rem!important;
              }
            }
            .action-name{
              padding-top: 0.3rem!important;
              padding-right: 0.7rem!important;
            }
          }
        }
        &:before{
          left:10px!important;
          right:auto!important;
        }
        // body:not(.rtl) & {
        // }
        body.rtl & {
          right: auto !important;
          left: 0 !important;
        }
      }
    }
}
