/*#region Before Colors*/
.before-themeprimary:before {
  background-color: #2dc3e8 !important;
}

.before-themesecondary:before {
  background-color: #fb6e52 !important;
}

.before-themethirdcolor:before {
  background-color: #ffce55 !important;
}

.before-themefourthcolor:before {
  background-color: #a0d468 !important;
}

.before-themefifthcolor:before {
  background-color: #e75b8d !important;
}

.before-white:before {
  background-color: #ffffff !important;
}

.before-snow:before {
  background-color: #fbfbfb !important;
}

.before-whitesmoke:before {
  background-color: #f5f5f5 !important;
}

.before-seashell:before {
  background-color: #f3f3f3 !important;
}

.before-ivory:before {
  background-color: #eeeeee !important;
}

.before-platinum:before {
  background-color: #e5e5e5 !important;
}

.before-lightgray:before {
  background-color: #d0d0d0 !important;
}

.before-gray:before {
  background-color: #cccccc !important;
}

.before-darkgray:before {
  background-color: #999999 !important;
}

.before-silver:before {
  background-color: #777777 !important;
}

.before-sonic-silver:before {
  background-color: #737373 !important;
}

.before-storm-cloud:before {
  background-color: #666666 !important;
}

.before-lightcarbon:before {
  background-color: #555555 !important;
}

.before-carbon:before {
  background-color: #444444 !important;
}

.before-slate-gray:before {
  background-color: #333333 !important;
}

.before-darkcarbon:before {
  background-color: #262626 !important;
}

.before-blue:before {
  background-color: #5db2ff !important;
}

.before-info:before {
  background-color: #57b5e3 !important;
}

.before-sky:before {
  background-color: #11a9cc !important;
}

.before-primary:before {
  background-color: #4374e0 !important;
}

.before-azure:before {
  background-color: #2dc3e8 !important;
}

.before-blueberry:before {
  background-color: #6f85bf !important;
}

.before-palegreen:before {
  background-color: #a0d468 !important;
}

.before-success:before {
  background-color: #53a93f !important;
}

.before-green:before {
  background-color: #8cc474 !important;
}

.before-lightyellow:before {
  background-color: #f6d52e !important;
}

.before-yellow:before {
  background-color: #ffce55 !important;
}

.before-warning:before {
  background-color: #f4b400 !important;
}

.before-gold:before {
  background-color: #f9b256 !important;
}

.before-orange:before {
  background-color: #fb6e52 !important;
}

.before-lightred:before {
  background-color: #e46f61 !important;
}

.before-darkorange:before {
  background-color: #ed4e2a !important;
}

.before-red:before {
  background-color: #df5138 !important;
}

.before-danger:before {
  background-color: #d73d32 !important;
}

.before-pink:before {
  background-color: #e75b8d !important;
}

.before-darkpink:before {
  background-color: #cc324b !important;
}

.before-magenta:before {
  background-color: #bc5679 !important;
}

.before-purple:before {
  background-color: #7e3794 !important;
}

.before-maroon:before {
  background-color: #981b48 !important;
}

/*#endregion Before Colors*/