/*#region Colors*/
.themeprimary {
  color: #2dc3e8 !important;
}

.themesecondary {
  color: #fb6e52 !important;
}

.themethirdcolor {
  color: #ffce55 !important;
}

.themefourthcolor {
  color: #a0d468 !important;
}

.themefifthcolor {
  color: #e75b8d !important;
}

.white {
  color: #ffffff !important;
}

.snow {
  color: #fbfbfb !important;
}

.whitesmoke {
  color: #f5f5f5 !important;
}

.seashell {
  color: #f3f3f3 !important;
}

.ivory {
  color: #eeeeee !important;
}

.platinum {
  color: #e5e5e5 !important;
}

.lightgray {
  color: #d0d0d0 !important;
}

.gray {
  color: #cccccc !important;
}

.darkgray {
  color: #999999 !important;
}

.silver {
  color: #777777 !important;
}

.sonic-silver {
  color: #737373 !important;
}

.storm-cloud {
  color: #666666 !important;
}

.lightcarbon {
  color: #555555 !important;
}

.carbon {
  color: #444444 !important;
}

.slate-gray {
  color: #333333 !important;
}

.darkcarbon {
  color: #262626 !important;
}

.blue {
  color: #5db2ff !important;
}

.info {
  color: #57b5e3 !important;
}

.sky {
  color: #11a9cc !important;
}

.primary {
  color: #4374e0 !important;
}

.azure {
  color: #2dc3e8 !important;
}

.blueberry {
  color: #6f85bf !important;
}

.palegreen {
  color: #a0d468 !important;
}

.success {
  color: #53a93f !important;
}

.green {
  color: #8cc474 !important;
}

.lightyellow {
  color: #f6d52e !important;
}

.yellow {
  color: #ffce55 !important;
}

.warning {
  color: #f4b400 !important;
}

.gold {
  color: #f9b256 !important;
}

.orange {
  color: #fb6e52 !important;
}

.lightred {
  color: #e46f61 !important;
}

.darkorange {
  color: #ed4e2a !important;
}

.red {
  color: #df5138 !important;
}

.pink {
  color: #e75b8d !important;
}

.darkpink {
  color: #cc324b !important;
}

.danger {
  color: #d73d32 !important;
}

.magenta {
  color: #bc5679 !important;
}

.purple {
  color: #7e3794 !important;
}

.maroon {
  color: #981b48 !important;
}

/*#endregion Colors*/