.app-widget {
  display: block;
  background-color: $white;
  height: 400px;
  // &.app-widget-fix-height {
  //   height: 500px;
  // }
  .widget-header {
    height: 1.25rem; // !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .tools {
      display: flex;
      align-items: center;
      .tool {
        width: 1.25rem;
        display: flex;
        height: 1.25rem;
        margin-right: 0.5rem;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        @include transition(opacity 0.3s);
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      // .widget-header-title {
      // }
    }
  }
  .widget-body {
    display: block;
    overflow-y: scroll; // !important;
    overflow-x: hidden;
    width: 100%;
    @include calc(height, "100% - 2.25rem");
    padding: 1rem;
  }
  .widget-footer {
    display: block;
  }

  &.app-widget-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    // margin-bottom: 0 !important;
    height: auto;
  }

  &.app-widget-minimize {
    bottom: auto;
    height: auto;

    .widget-body,
    .widget-footer {
      display: none;
    }

    .widget-header {
      margin-bottom: 0;
    }
  }

  &.app-widget-close {
    display: none;
  }
}

body.widget-open {
  &:not(.widget-minimize) {
    overflow: hidden;
  }
  // overflow: hidden;

  // &::-webkit-scrollbar {
  //   display: none !important;
  //   background: transparent !important;
  // }
  // .sidebar {
  //   display: none; // !important;
  // }

  // &.widget-minimize{
  //   overflow: hidden;
  // }
}
