//not added

.select2-container {
  font-size: 13px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 34px;
  user-select: none;
  -webkit-user-select: none;
  outline: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-#{$dir-mode-align}: 8px;
  padding-#{$dir-mode-align-inverse}: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none !important;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-#{$dir-mode-align-inverse}: 8px;
  padding-#{$dir-mode-align}: 20px;
}

.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-#{$dir-mode-align}: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: $dir-mode-align;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
  outline: none !important;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  display: block;
  position: absolute;
  #{$dir-mode-align}: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
  padding: 0 5px 5px;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  #{$dir-mode-align}: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-#{$dir-mode-align}-radius: 0;
  border-bottom-#{$dir-mode-align-inverse}-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-#{$dir-mode-align}-radius: 0;
  border-top-#{$dir-mode-align-inverse}-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  outline: none !important;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  #{$dir-mode-align}: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  position: absolute;
  #{$dir-mode-align-inverse}: 25px;
  top: -1px;
  font-size: 16px;
  opacity: .4;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
  position: absolute;
  top: 0;
  #{$dir-mode-align-inverse}: 7px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: "";
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  line-height: 34px;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: $dir-mode-align;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  #{$dir-mode-align}: 1px;
  #{$dir-mode-align-inverse}: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px 0 3px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: $dir-mode-align;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: $dir-mode-align-inverse;
  font-weight: normal;
  margin-top: 5px;
  margin-#{$dir-mode-align-inverse}: 5px;
  font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #2dc3e8;
  border: 1px solid #2dc3e8;
  color: #fff;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: default;
  float: $dir-mode-align;
  margin-#{$dir-mode-align-inverse}: 3px;
  margin-top: 3px;
  padding: 0 5px 2px;
  font-size: 13px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  margin-#{$dir-mode-align-inverse}: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fafafa;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: $dir-mode-align-inverse;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-#{$dir-mode-align}: 5px;
  margin-#{$dir-mode-align-inverse}: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-#{$dir-mode-align}: 3px;
  margin-#{$dir-mode-align-inverse}: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #cccccc;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-#{$dir-mode-align}-radius: 0;
  border-top-#{$dir-mode-align-inverse}-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-#{$dir-mode-align}-radius: 0;
  border-bottom-#{$dir-mode-align-inverse}-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 215px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-#{$dir-mode-align}: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-#{$dir-mode-align}: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-#{$dir-mode-align}: -1em;
  padding-#{$dir-mode-align}: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-#{$dir-mode-align}: -2em;
  padding-#{$dir-mode-align}: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-#{$dir-mode-align}: -3em;
  padding-#{$dir-mode-align}: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-#{$dir-mode-align}: -4em;
  padding-#{$dir-mode-align}: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-#{$dir-mode-align}: -5em;
  padding-#{$dir-mode-align}: 6em;
}
