/*#region Default Button*/
.btn,
.btn-default,
.btn:focus,
.btn-default:focus {
  color: #444444;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn:hover,
.btn-default:hover {
  color: #444444;
}

.btn.shiny,
.btn-default.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ffffff 0, #ededed 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0, #ededed 100%);
  background-image: -o-linear-gradient(top, #ffffff 0, #ededed 100%);
  background-image: linear-gradient(to bottom, #ffffff 0, #ededed 100%);
}

.btn.dropdown-toggle:not(:first-child),
.btn-default.dropdown-toggle:not(:first-child) {
  border-#{$dir-mode-align}-width: 0 !important;
  margin-#{$dir-mode-align}: -1px;
}

.btn-default:hover,
.open .btn-default.dropdown-toggle {
  border-color: #b8b8b8;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.open .btn-default.dropdown-toggle {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*#endregion Default Button*/
/*#region Primary Button*/
.btn-primary,
.btn-primary:focus {
  background-color: #427fed !important;
  border-color: #427fed;
  color: #ffffff;
}

.btn-primary:hover {
  color: #ffffff;
}

.btn-primary.dropdown-toggle {
  border-#{$dir-mode-align}-color: #6a99ee !important;
}

.btn-primary.active {
  background-color: #2c56b1 !important;
  border-color: #21448d;
}

.btn-primary.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iNSUiIHN0b3AtY29sb3I9IiMwMDk1ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNWVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(center top, #0095ff 5%, #005eff 100%);
  background-image: -moz-linear-gradient(center top, #0095ff 5%, #005eff 100%);
  background-image: -o-linear-gradient(center top, #0095ff 5%, #005eff 100%);
  background-image: linear-gradient(center to bottom, #0095ff 5%, #005eff 100%);
}

.btn-primary:hover,
.open .btn-primary.dropdown-toggle {
  background-color: #4285f4 !important;
  border-color: #427fed;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #427fed !important;
  border-color: #427fed;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion Primary Button*/
/*#region info Button*/
.btn-info,
.btn-info:focus {
  background-color: #57b5e3 !important;
  border-color: #57b5e3;
  color: #ffffff;
}

.btn-info:hover {
  color: #ffffff;
}

.btn-info.dropdown-toggle {
  border-#{$dir-mode-align}-color: #8bcdee !important;
}

.btn-info.active {
  background-color: #5fa6d3 !important;
  border-color: #4396cb;
}

.btn-info.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMGFkZWUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzhhNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#00adee), to(#0078a5));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#00adee), to(#0078a5));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#00adee), to(#0078a5));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#00adee), to(#0078a5));
}

.btn-info:hover,
.open .btn-info.dropdown-toggle {
  background-color: #6abce2 !important;
  border-color: #6abce2;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #57b5e3 !important;
  border-color: #57b5e3;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion info Button*/
/*#region Success Button*/
.btn-success,
.btn-success:focus {
  background-color: #53a93f !important;
  border-color: #53a93f !important;
  color: #ffffff;
}

.btn-success:hover {
  color: #ffffff;
}

.btn-success.dropdown-toggle {
  border-#{$dir-mode-align}-color: #a0d468 !important;
}

.btn-success.active {
  background-color: #3e802f !important;
  border-color: #2f6124;
}

.btn-success.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3ZGI3MmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRlN2QwZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#7db72f), to(#4e7d0e));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#7db72f), to(#4e7d0e));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#7db72f), to(#4e7d0e));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#7db72f), to(#4e7d0e));
}

.btn-success:hover,
.open .btn-success.dropdown-toggle {
  background-color: #65b951 !important;
  border-color: #65b951;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #53a93f !important;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion Success Button*/
/*#region Warning Button*/
.btn-warning,
.btn-warning:focus {
  background-color: #f4b400 !important;
  border-color: #f4b400;
  color: #ffffff;
}

.btn-warning:hover {
  color: #ffffff;
}

.btn-warning.dropdown-toggle {
  border-#{$dir-mode-align}-color: #ffce55 !important;
}

.btn-warning.active {
  background-color: #f2a73e !important;
  border-color: #f0981c;
}

.btn-warning.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYWE1MWEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0N2EyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#faa51a), to(#f47a20));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#faa51a), to(#f47a20));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#faa51a), to(#f47a20));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#faa51a), to(#f47a20));
}

.btn-warning:hover,
.open .btn-warning.dropdown-toggle {
  background-color: #f6c12a !important;
  border-color: #f6c12a;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f4b400 !important;
  border-color: #f4b400;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion Warning Button*/
/*#region Danger Button*/
.btn-danger,
.btn-danger:focus {
  background-color: #d73d32 !important;
  border-color: #d73d32;
  color: #ffffff;
}

.btn-danger:hover {
  color: #ffffff;
}

.btn-danger.dropdown-toggle {
  border-#{$dir-mode-align}-color: #e46f61 !important;
}

.btn-danger.active {
  background-color: #be3e2e !important;
  border-color: #9a3323;
}

.btn-danger.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZDFjMjQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhMTMxNyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#ed1c24), to(#aa1317));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#ed1c24), to(#aa1317));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#ed1c24), to(#aa1317));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#ed1c24), to(#aa1317));
}

.btn-danger:hover,
.open .btn-danger.dropdown-toggle {
  background-color: #e74b37 !important;
  border-color: #e74b37;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d73d32 !important;
  border-color: #d73d32;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion Danger Button*/
/*#region Blue Button*/
.btn-blue,
.btn-blue:focus {
  background-color: #5db2ff !important;
  border-color: #5db2ff;
  color: #ffffff;
}

.btn-blue:hover {
  color: #ffffff;
}

.btn-blue.dropdown-toggle {
  border-#{$dir-mode-align}-color: #81c1fb !important;
}

.btn-blue.active {
  background-color: #449cec !important;
  border-color: #3d90db;
}

.btn-blue.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM3MGJhZmQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ0OWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#70bafd), to(#449cec));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#70bafd), to(#449cec));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#70bafd), to(#449cec));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#70bafd), to(#449cec));
}

.btn-blue:hover,
.open .btn-blue.dropdown-toggle {
  background-color: #70bafd !important;
  border-color: #70bafd;
  color: #fff;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #5db2ff !important;
  border-color: #5db2ff;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion Blue Button*/
/*#region sky Button*/
.btn-sky,
.btn-sky:focus {
  background-color: #11a9cc !important;
  border-color: #11a9cc;
  color: #ffffff;
}

.btn-sky:hover {
  color: #ffffff;
}

.btn-sky.dropdown-toggle {
  border-#{$dir-mode-align}-color: #81c1fb !important;
}

.btn-sky.active {
  background-color: #2095b0 !important;
  border-color: #2f97af;
}

.btn-sky.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyOGIzZDMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwOTViMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#28b3d3), to(#2095b0));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#28b3d3), to(#2095b0));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#28b3d3), to(#2095b0));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#28b3d3), to(#2095b0));
}

.btn-sky:hover,
.open .btn-sky.dropdown-toggle {
  background-color: #28b3d3 !important;
  border-color: #28b3d3;
  color: #fff;
}

.btn-sky.disabled,
.btn-sky[disabled],
fieldset[disabled] .btn-sky,
.btn-sky.disabled:hover,
.btn-sky[disabled]:hover,
fieldset[disabled] .btn-sky:hover,
.btn-sky.disabled:focus,
.btn-sky[disabled]:focus,
fieldset[disabled] .btn-sky:focus,
.btn-sky.disabled:active,
.btn-sky[disabled]:active,
fieldset[disabled] .btn-sky:active,
.btn-sky.disabled.active,
.btn-sky[disabled].active,
fieldset[disabled] .btn-sky.active {
  background-color: #11a9cc !important;
  border-color: #11a9cc;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion sky Button*/
/*#region azure Button*/
.btn-azure,
.btn-azure:focus {
  background-color: #2dc3e8 !important;
  border-color: #2dc3e8;
  color: #ffffff;
}

.btn-azure:hover {
  color: #ffffff;
}

.btn-azure.dropdown-toggle {
  border-#{$dir-mode-align}-color: #3ecdf1 !important;
}

.btn-azure.active {
  background-color: #2badce !important;
  border-color: #2badce;
}

.btn-azure.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZWNkZjEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiYWRjZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#3ecdf1), to(#2badce));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#3ecdf1), to(#2badce));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#3ecdf1), to(#2badce));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#3ecdf1), to(#2badce));
}

.btn-azure:hover,
.open .btn-azure.dropdown-toggle {
  background-color: #3ecdf1 !important;
  border-color: #3ecdf1;
  color: #fff;
}

.btn-azure.disabled,
.btn-azure[disabled],
fieldset[disabled] .btn-azure,
.btn-azure.disabled:hover,
.btn-azure[disabled]:hover,
fieldset[disabled] .btn-azure:hover,
.btn-azure.disabled:focus,
.btn-azure[disabled]:focus,
fieldset[disabled] .btn-azure:focus,
.btn-azure.disabled:active,
.btn-azure[disabled]:active,
fieldset[disabled] .btn-azure:active,
.btn-azure.disabled.active,
.btn-azure[disabled].active,
fieldset[disabled] .btn-azure.active {
  background-color: #2dc3e8 !important;
  border-color: #2dc3e8;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion azure Button*/
/*#region palegreen Button*/
.btn-palegreen,
.btn-palegreen:focus {
  background-color: #a0d468 !important;
  border-color: #a0d468;
  color: #ffffff;
}

.btn-palegreen:hover {
  color: #ffffff;
}

.btn-palegreen.dropdown-toggle {
  border-#{$dir-mode-align}-color: #a6d791 !important;
}

.btn-palegreen.active {
  background-color: #74aa5d !important;
  border-color: #699755;
}

.btn-palegreen.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5Y2Q1ODQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc0YWE1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#9cd584), to(#74aa5d));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#9cd584), to(#74aa5d));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#9cd584), to(#74aa5d));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#9cd584), to(#74aa5d));
}

.btn-palegreen:hover,
.open .btn-palegreen.dropdown-toggle {
  background-color: #9cd584 !important;
  border-color: #9cd584;
  color: #fff;
}

.btn-palegreen.disabled,
.btn-palegreen[disabled],
fieldset[disabled] .btn-palegreen,
.btn-palegreen.disabled:hover,
.btn-palegreen[disabled]:hover,
fieldset[disabled] .btn-palegreen:hover,
.btn-palegreen.disabled:focus,
.btn-palegreen[disabled]:focus,
fieldset[disabled] .btn-palegreen:focus,
.btn-palegreen.disabled:active,
.btn-palegreen[disabled]:active,
fieldset[disabled] .btn-palegreen:active,
.btn-palegreen.disabled.active,
.btn-palegreen[disabled].active,
fieldset[disabled] .btn-palegreen.active {
  background-color: #a0d468 !important;
  border-color: #a0d468;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion palegreen Button*/
/*#region yellow Button*/
.btn-yellow,
.btn-yellow:focus {
  background-color: #ffce55 !important;
  border-color: #ffce55;
  color: #ffffff;
}

.btn-yellow:hover {
  color: #ffffff;
}

.btn-yellow.dropdown-toggle {
  border-#{$dir-mode-align}-color: #f6d52e !important;
}

.btn-yellow.active {
  background-color: #fbc220 !important;
  border-color: #f3ba17;
  color: #ffffff !important;
}

.btn-yellow.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZGQzNWEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiYzIyMCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#fdd35a), to(#fbc220));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#fdd35a), to(#fbc220));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#fdd35a), to(#fbc220));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#fdd35a), to(#fbc220));
}

.btn-yellow:hover,
.open .btn-yellow.dropdown-toggle {
  background-color: #fdd35a !important;
  border-color: #fdd35a;
  color: #fff;
}

.btn-yellow.disabled,
.btn-yellow[disabled],
fieldset[disabled] .btn-yellow,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,
.btn-yellow[disabled]:active,
fieldset[disabled] .btn-yellow:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active {
  background-color: #ffce55 !important;
  border-color: #ffce55;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion yellow Button*/
/*#region darkorange Button*/
.btn-darkorange,
.btn-darkorange:focus {
  background-color: #ed4e2a !important;
  border-color: #ed4e2a;
  color: #ffffff;
}

.btn-darkorange:hover {
  color: #ffffff;
}

.btn-darkorange.dropdown-toggle {
  border-#{$dir-mode-align}-color: #f07154 !important;
}

.btn-darkorange.active {
  background-color: #da411f !important;
  border-color: #cc3918;
}

.btn-darkorange.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZjY5NGIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhNDExZiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#ef694b), to(#da411f));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#ef694b), to(#da411f));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#ef694b), to(#da411f));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#ef694b), to(#da411f));
}

.btn-darkorange:hover,
.open .btn-darkorange.dropdown-toggle {
  background-color: #ef694b !important;
  border-color: #ef694b;
  color: #fff;
}

.btn-darkorange.disabled,
.btn-darkorange[disabled],
fieldset[disabled] .btn-darkorange,
.btn-darkorange.disabled:hover,
.btn-darkorange[disabled]:hover,
fieldset[disabled] .btn-darkorange:hover,
.btn-darkorange.disabled:focus,
.btn-darkorange[disabled]:focus,
fieldset[disabled] .btn-darkorange:focus,
.btn-darkorange.disabled:active,
.btn-darkorange[disabled]:active,
fieldset[disabled] .btn-darkorange:active,
.btn-darkorange.disabled.active,
.btn-darkorange[disabled].active,
fieldset[disabled] .btn-darkorange.active {
  background-color: #ed4e2a !important;
  border-color: #ed4e2a;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion darkorange Button*/
/*#region magenta Button*/
.btn-magenta,
.btn-magenta:focus {
  background-color: #bc5679 !important;
  border-color: #bc5679;
  color: #ffffff;
}

.btn-magenta:hover {
  color: #ffffff;
}

.btn-magenta.dropdown-toggle {
  border-#{$dir-mode-align}-color: #c96d8c !important;
}

.btn-magenta.active {
  background-color: #a5325a !important;
  border-color: #9f3156;
}

.btn-magenta.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjNDYyODMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E1MzI1YSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#c46283), to(#a5325a));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#c46283), to(#a5325a));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#c46283), to(#a5325a));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#c46283), to(#a5325a));
}

.btn-magenta:hover,
.open .btn-magenta.dropdown-toggle {
  background-color: #c46283 !important;
  border-color: #c46283;
  color: #fff;
}

.btn-magenta.disabled,
.btn-magenta[disabled],
fieldset[disabled] .btn-magenta,
.btn-magenta.disabled:hover,
.btn-magenta[disabled]:hover,
fieldset[disabled] .btn-magenta:hover,
.btn-magenta.disabled:focus,
.btn-magenta[disabled]:focus,
fieldset[disabled] .btn-magenta:focus,
.btn-magenta.disabled:active,
.btn-magenta[disabled]:active,
fieldset[disabled] .btn-magenta:active,
.btn-magenta.disabled.active,
.btn-magenta[disabled].active,
fieldset[disabled] .btn-magenta.active {
  background-color: #bc5679 !important;
  border-color: #bc5679;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion magenta Button*/
/*#region purple Button*/
.btn-purple,
.btn-purple:focus {
  background-color: #7e3794 !important;
  border-color: #7e3794;
  color: #ffffff;
}

.btn-purple:hover {
  color: #ffffff;
}

.btn-purple.dropdown-toggle {
  border-#{$dir-mode-align}-color: #9852ae !important;
}

.btn-purple.active {
  background-color: #69257e !important;
  border-color: #601e74;
}

.btn-purple.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4YzQ0YTIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5MjU3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#8c44a2), to(#69257e));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#8c44a2), to(#69257e));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#8c44a2), to(#69257e));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#8c44a2), to(#69257e));
}

.btn-purple:hover,
.open .btn-purple.dropdown-toggle {
  background-color: #8c44a2 !important;
  border-color: #8c44a2;
  color: #fff;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
  background-color: #7e3794 !important;
  border-color: #7e3794;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion purple Button*/
/*#region maroon Button*/
.btn-maroon,
.btn-maroon:focus {
  background-color: #981b48 !important;
  border-color: #981b48;
  color: #ffffff;
}

.btn-maroon:hover {
  color: #ffffff;
}

.btn-maroon.dropdown-toggle {
  border-#{$dir-mode-align}-color: #b55274 !important;
}

.btn-maroon.active {
  background-color: #7c1138 !important;
  border-color: #9f3156;
}

.btn-maroon.shiny {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhODI4NTYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg2MTIzYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#a82856), to(#86123c));
  background-image: -moz-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#a82856), to(#86123c));
  background-image: -o-linear-gradient(linear, $dir-mode-align top, $dir-mode-align bottom, from(#a82856), to(#86123c));
  background-image: linear-gradient(linear, $dir-mode-align to bottom, $dir-mode-align bottom, from(#a82856), to(#86123c));
}

.btn-maroon:hover,
.open .btn-maroon.dropdown-toggle {
  background-color: #a82856 !important;
  border-color: #a82856;
  color: #fff;
}

.btn-maroon.disabled,
.btn-maroon[disabled],
fieldset[disabled] .btn-maroon,
.btn-maroon.disabled:hover,
.btn-maroon[disabled]:hover,
fieldset[disabled] .btn-maroon:hover,
.btn-maroon.disabled:focus,
.btn-maroon[disabled]:focus,
fieldset[disabled] .btn-maroon:focus,
.btn-maroon.disabled:active,
.btn-maroon[disabled]:active,
fieldset[disabled] .btn-maroon:active,
.btn-maroon.disabled.active,
.btn-maroon[disabled].active,
fieldset[disabled] .btn-maroon.active {
  background-color: #981b48 !important;
  border-color: #981b48;
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}

/*#endregion maroon Button*/