.rating-star {
  .rating-empty {
    color: gray;
  }
  .rating-full {
    color: orange;
  }

  &.rating-star-m-15 {
    & > span {
      body:not(.rtl) & {
        margin-left: 0.15rem;
      }
      body.rtl & {
        margin-right: 0.15rem;
      }
    }
  }
}
