@import "toastify";
// @import "ladda";
@import "content-loader";
@import "datepicker";
// @import "pagination";
@import "slick";
@import "carousel";
@import "rating";
//
@import "_form/form";
@import "_tool/tool";
@import "_page/page";
