.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
  span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
  }
}

.tim-row {
  padding-top: 60px;
  h3 {
    margin-top: 0;
  }
}

.offline-doc {
  .page-header {
    display: flex;
    align-items: center;
  }
  .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
    z-index: 1;
    padding-left: 0;
  }
}

@media all and (min-width: 992px) {
  .sidebar .nav > li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.offline-doc .page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #ffffff;
  position: relative;
  .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .container {
    height: 100%;
    z-index: 1;
  }
  .category,
  .description {
    color: rgba(255, 255, 255, 0.8);
  }
  &.page-header-small {
    min-height: 60vh;
    max-height: 440px;
  }
  &.page-header-mini {
    min-height: 40vh;
    max-height: 340px;
  }
  .title {
    margin-bottom: 15px;
    + h4 {
      margin-top: 10px;
    }
  }
  &:after {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
  }
  &:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
  }
}

// added in jame-jam project  \/\/

.navbar-absolute {
  background: lightgrey !important;
  border-bottom: 1px solid rgb(43, 110, 225);
}
.sidebar {
  background-color: #3358f4 !important;
  border-radius: 15px;
}
.modal-search {
  .modal-dialog {
    .modal-content {
      border: 5px solid #3358f4 !important;
    }
  }
}
.rtl{
  .dropdown-menu.dropdown-menu-right.dropdown-navbar {
    right: -90px !important;
  }
}
.dropdown-navbar {
  background-color: #1c39bb !important;
  border: 1px solid white;
  border-radius: 3px;
  &::before {
    color: white !important;
  }
  body:not(.rtl) & {
    .nav-link {
      &:hover {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }
  }
  body.rtl & {
    .nav-link {
      &:hover {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }
  }
  .nav-link {
    &:hover {
      padding-left: 1rem !important;
    }
    .nav-item {
      color: white !important;
      &:hover {
        background-color: #3358f4 !important;
      }
    }
  }
}
.caret {
  color: white !important;
}
.book-create {
  background-color: #3358f4 !important;
  color: white !important;
  border: 1px solid white !important;
  width: 7rem !important;
  height: 3rem !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: 0.5rem !important;
  padding-top: 0.6rem !important;
  &:hover {
    transform: translateY(-2px) !important;
  }
}
.table-btn {
  background-color: #3358f4 !important;
  color: white !important;
  border: 1px solid white !important;
  width: 7rem !important;
  height: 3rem !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: 0.5rem !important;
  padding-top: 0.6rem !important;
  &.next-btn:hover {
    transform: translateX(2px) !important;
  }
  &.prev-btn:hover {
    transform: translateX(-2px) !important;
  }
}

.btn-create,
.btn-back,
.btn-reset {
  color: white !important;
  width: 7rem !important;
  height: 3rem !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: 0.5rem !important;
  &:hover {
    transform: translateY(-2px) !important;
  }
  &:disabled {
    opacity: 0.7 !important;
    &:hover {
      transform: translateY(0px) !important;
      cursor: not-allowed !important;
    }
  }
}
.btn-back {
  border: 1px solid white !important;
  background-color: #3358f4 !important;
  &:focus {
    outline: none !important;
  }
}
.btn-reset {
  background-color: #f0ad4e;
  border: 1px solid white !important;
  &:focus {
    outline: none !important;
  }
}
.btn-create {
  background-color: #449d44;
  border: 1px solid white !important;
  &:focus {
    outline: none !important;
  }
}
.btn-role-adder {
  width: 3rem;
  font-weight: bold;
  padding-bottom: 0.6rem;
  font-size: 2rem;
  &:hover {
    transform: translateY(-2px) !important;
  }
  &:focus {
    outline: none !important;
  }
  &:disabled {
    opacity: 0.7 !important;
    &:hover {
      transform: translateY(0px) !important;
      cursor: not-allowed !important;
    }
  }
}
.btn-role-remover {
  font-weight: bold;
  &:hover {
    transform: translateY(-2px) !important;
  }
  &:focus {
    outline: none !important;
  }
  &:disabled {
    opacity: 0.7 !important;
    &:hover {
      transform: translateY(0px) !important;
      cursor: not-allowed !important;
    }
  }
}
// add book page \/\/

// select-input

.css-2b097c-container {
  .css-1laao21-a11yText {
    display: none !important;
  }
  .css-yk16xz-control {
    border-radius: 0.3rem !important;
    border-color: rgba(29, 37, 59, 0.5) !important;
    color: #000 !important;
    &:focus {
      border: 1px solid #007bff !important;
    }
  }
}

// BookRole //////@at-root

.role-img-container {
  border: 1px solid rgba(29, 37, 59, 0.5) !important;
  border-radius: 0.3rem !important;
}
.role-wrapper {
  padding-left: 1rem !important;
}

//dropzone ///////////
.dropzone {
  &:focus {
    outline: none !important;
  }
}
.img-container {
  margin-top: 1rem;
  border: 3px dotted #888888;
  color: #888888;
  &:hover {
    border-color: #000;
    cursor: pointer;
    color: black !important;
  }
}

.image-wrapper {
  border: 1px solid rgba(29, 37, 59, 0.5) !important;
  border-radius: 0.3rem !important;
  padding: 0;

  .img-item {
    list-style-type: none !important;
    // text-align: left;
    body:not(.rtl) & {
      text-align: left;
    }
    body.rtl & {
      text-align: right;
    }
    img {
      margin-right: 0.5rem;
    }
  }
}
body{
  .fa-trash,.fa-pencil-square-o,.fa-money{
    cursor: pointer!important;
  }
  .table-manage-del-edit{
    text-align: center!important;
  }
}

/// hide search on admin navbar

.search-bar {
  display: none !important;
}

.table-action-shadow-hover{
  width: 2.1rem;
  height: 2.1rem;
  cursor: pointer;
  margin-bottom: .25rem !important;
  &:hover{
    @extend .shadow-default;
    @extend .rounded;
  }
  i{
    width: 1.125rem;
    height: 1.125rem;
    padding-top: .15rem!important;
  }
}


.item-count-wrapper {
  display: flex;
  flex-direction: column;
  width: 27px;

  .item-count {
    width: 27px;
    border: 1px solid #ddd;
    margin: 0.1rem 0;
    font-weight: bold;
    &.disable {
      opacity: 0.5;
    }
  }
}

.item-count {
  width: 27px;
  border: 1px solid #ddd;
  margin: 0.1rem 0;
  font-weight: bold;
  &.disable {
    opacity: 0.5;
  }
}

.total-price{
  display:inline-block;
  margin-top:1.95rem;
  padding: 0.25rem;
  padding-top:0.35rem;
  // border: 1px solid #888888;
  height: 2.2rem;
  background-color: #fff;
}
.btn-remove-orderitems{
  border-radius: 50px;
  padding: 0.25rem 0.6rem 0.115rem;
}

.date-input-with-dialog-input-buttons{
  margin-top: 0.25rem!important;
  margin-left: 0.25rem!important;
  margin-right: 0.25rem!important;
}