$book-detail-border: 1px solid rgb(210, 210, 210);

.book-detail-wrapper {
  // margin-bottom: 4rem;

  .book-detail {
    .book-image-wrapper {
      img {
        width: 100%;
        max-height: 100%;
      }
    }

    .book-info-wrapper {
      .book-writer {
        color: rgb(5, 112, 156);
      }
      .book-total-rate {
        color: rgb(5, 112, 156);
        font-size: 0.9rem;
      }
      .book-selled-info-container {
        .book-selled-info {
          // width: 6rem;
          // height: 1.2rem;
          position: relative;
          background: orange;
          display: inline-block;
          color: white;
          font-size: 0.8rem;
          // border: 0;

          body:not(.rtl) & {
            padding-left: 0.25rem;
            padding-right: 0.75rem;
            margin-right: 0.5rem;
          }
          body.rtl & {
            padding-right: 0.25rem;
            padding-left: 0.75rem;
            margin-left: 0.5rem;
          }

          &:before {
            content: "";
            position: absolute;
            // bottom: 0;
            // width: 0;
            // height: 0;
            border-top: 0.6rem solid transparent;
            border-bottom: 0.6rem solid transparent;
            body:not(.rtl) & {
              right: 0;
              border-right: 0.6rem solid #f7f7f7;
            }
            body.rtl & {
              left: 0;
              border-left: 0.6rem solid #f7f7f7;
            }
          }
        }
        .from-store {
          // a {
          color: rgb(5, 112, 156);
          // }
        }
      }
    }

    .add-to-list {
      color: rgb(5, 112, 156); // !important;
    }
  }

  .author {
    .author-info {
      // border: 1px solid rgb(210, 210, 210);
      .author-about {
        border-bottom: $book-detail-border;
        p {
          font-weight: 500;
        }
      }
      .author-profile {
        img {
          // height: 5.2rem;
          // width: 5.2rem;
          max-height: 100%;
          width: 100%;
          border-radius: 50%;
          background-color: gray;
        }

        .author-name {
          color: rgb(5, 112, 156);
          font-weight: 500;
          font-size: 1.1rem;
        }
        .author-follow {
          background-color: lightgrey;
          border-radius: 0;
          @include calc(width, "100% - 1rem");
          text-transform: capitalize;
        }
      }

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .section-separator {
    border-bottom: $book-detail-border;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .read-reviews {
    border-top: $book-detail-border;
    /* .read-reviews-title {
      text-transform: uppercase;
    } */

    .see-more {
      color: black;

      .text {
        color: rgb(5, 112, 156);
      }
    }
  }

  //////////////////////////////////////////////
  // should correct from here down to bottom. //
  //////////////////////////////////////////////

  .comments {
    border-top: $book-detail-border;

    /* h6 {
      font-weight: bold;
    } */
    .user-comment-box {
      .col-1 {
        .img {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          background-color: gray;
          img {
            width: 100%;
            max-height: 100%;
            border-radius: 50%;
          }
        }
      }
      /* .rate-comment {
        display: inline-block;
        span {
          color: gray;
        }
        .checked {
          color: orange;
        }
      } */
      .purchase-state {
        color: orange;
        font-weight: bold;
      }
      .comment-body {
        font-weight: 450;
        white-space: pre-wrap;
        overflow: hidden;

        &.comment-compress {
          max-height: 50px;
        }
      }
      .comment-feedback {
        // .col-5 {
        .btn-helpful {
          border-radius: 0;
          background-color: rgb(230, 230, 230);
          font-weight: 500;
        }
        // }
        // .col-2 {
        //   font-weight: 500;
        // }
      }
    }
  }

  .write-review {
    background-color: rgb(230, 230, 230);
  }
}

.book-detail-bordered-box {
  border: $book-detail-border;
}
.book-detail-bordered-box-icon {
  @include calc(top, "50% - 16px");
  position: absolute;
}
