.layout-account-wrapper {
  background: #f6f6f6;
  height: 100vh;
  min-height: fit-content;

  .header {
    margin: 0;
    padding: 0;
    border: 0;
    background: linear-gradient(to top, rgb(246, 246, 246), white);
    height: 4rem;
    border-bottom: 1px solid rgb(212, 212, 212);

    .title {
      color: rgb(253, 166, 1);
      text-align: center;
      padding-top: 0.4rem;
      font-size: 2rem;
      // font-weight: bold;
      font-weight: 500;
    }
  }

  .main {
    @include calc(min-height, "100vh - 8rem");

    .title {
      font-weight: bold;
    }
    .desc {
      font-size: 20px;
    }

    .account-form {
      .input-wrapper {
        border-radius: $template-border-radius;
        border: 1px solid $template-border-color;
        margin-bottom: 1rem;

        .form-group {
          margin-bottom: 0;
          input {
            border: 0;
          }
          .invalid-feedback {
            background: #fff;
            margin-top: 0;
            margin: 0px 1px;
            // width: calc(100% - 2px);
            @include calc(width, "100% - 2px");
          }
        }
        .separator {
          border-top: 1px solid $template-border-color;
        }
      }
      .btn-account {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7dfa1), to(#f0c14d));
        background-image: linear-gradient(to bottom, #f7dfa1, #f0c14d);
        background-repeat: repeat-x;
      }
    }
  }

  .footer {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(white));
    background: linear-gradient(to bottom, #f6f6f6, white);
    height: 4rem;

    .shadow {
      height: 3px;
      background-image: radial-gradient(#dfdfdf, #eaeaea, #f6f6f6);
    }
  }
}
