.library-wrapper {
  .library-menu {
    // border-top: 1px solid rgb(224, 224, 224);
    // margin-top: 4.4rem;
    background: white;
    height: 3rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    // top: 4.45rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    @include box-shadow(0px 2px 5px 0px rgb(195, 194, 194));

    .filter-library {
      line-height: 3rem;
    }
    .view-library {
      line-height: 3rem;
    }

    // .menu-wrapper {
    .filter-option {
      .filter-link {
        text-decoration: none;
        // padding-bottom: 0.97rem;
        // margin: 0 .5rem;
        // line-height: 3rem;
        @include calc(line-height, "3rem - 1px");
        display: inline-block;

        &.active {
          border-bottom: 1px solid blue;
          color: blue;
          font-weight: 500;
        }
      }
    }
    // }
  }
  // .row-wrapper {
  .library-view-grid-wrapper {
    //   width: 100%;
    .item-wrapper {
      width: 100%;
      height: auto;
      text-align: center;
      .library-grid-book-show {
        max-width: 100%;
      }
      .book-progress-state {
        position: absolute;
        top: 0rem;
        body:not(.rtl) & {
          right: 0.5rem;
        }
        body.rtl & {
          left: 0.5rem;
        }

        .bp-state-number {
          width: 1.6rem;
          height: 1.2rem;
          background-color: rgba(0, 0, 0, 0.6);
          font-size: 0.6rem;
          color: white;
          text-align: center;
          .text {
            @extend .center-el-in-box;
            top: 40%;
          }
        }
        .bp-state-arrow {
          width: 0;
          height: 0;
          border-left: 0.8rem solid transparent;
          border-right: 0.8rem solid transparent;
          border-top: 0.6rem solid rgba(0, 0, 0, 0.6);
        }
      }
      .book-download {
        position: absolute;
        bottom: 0.5rem;
        body:not(.rtl) & {
          right: 0.5rem;
        }
        body.rtl & {
          left: 0.5rem;
        }
        i {
          width: 1.5rem;
          height: 1.5rem;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 50%;
          color: white;
          text-align: center;
          padding-top: 0.2rem;
        }
      }
    }
  }
  // }

  .library-view-list-wrapper {
    .view-list-item {
      border-bottom: 1px solid rgb(224, 224, 224);
      // .list-row {
      .img-wrapper {
        // .img-container {
        img {
          max-width: 100%;
        }
        // }
      }
      .detail-wrapper {
        .book-title {
          font-weight: 500;
          text-overflow: ellipsis;
          text-transform: capitalize;
        }
        .book-writer {
          word-break: break-all;
          text-transform: uppercase;
          display: block;
        }
        .book-progress {
          font-weight: 500;
        }
        .book-volume {
          font-weight: 500;
          direction: ltr;
          display: inline-block;
        }
        .downloaded-icon {
          position: absolute;
          top: 0;
          font-size: 1.5rem;
          body:not(.rtl) & {
            right: 1rem;
          }
          body.rtl & {
            left: 1rem;
          }
        }
      }
      /* .is-downloaded {
        .downloaded-icon {
          font-size: 1.5rem;
        }
      } */
      // }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .library-view-collection-wrapper {
    .item-wrapper {
      width: 100%;
      height: auto;
      // text-align: center;
      border: 1px solid #ddd;

      img.item-size {
        max-width: 100%;
        opacity: 0;
        visibility: hidden;
      }
      .collection-detail {
        position: absolute;
        top: 0;
        bottom: 0;

        .collection-detail-inner {
          position: relative;
          max-width: 100%;
          max-height: 100%;
          overflow: hidden;
          .book-wrapper {
            // max-width: 90%;
            /* body:not(.rtl) & {
              margin-left: 5%;
            }
            body.rtl & {
              margin-right: 5%;
            } */
            .book {
              img {
                max-width: 100%;
              }
            }
          }
          .collection-name {
            width: 85%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
          }
          .collection-book-count {
            width: 15%;

            /* body:not(.rtl) & {
              float: right;
            }
            body.rtl & {
              float: left;
            } */
          }
        }

        body:not(.rtl) & {
          right: 0;
          left: 1rem;
        }
        body.rtl & {
          right: 1rem;
          left: 0;
        }
      }

      &.uncollected {
        .collection-detail {
          .collection-detail-inner {
            // position: absolute;
            // top: 45%;
            text-align: center;
            @extend .center-el-in-box;
            .collection-book-count {
              display: block;
              width: 100%;
              font-size: 1.5rem;
            }
            .collection-name {
              display: block;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
