.store-wrapper {
  /* .store-search-box {
    .open-menu-icon {
      .input-group-text {
        padding: 0;
        background-color: transparent;
        color: #555555;
        font-size: 2rem;

        border: 0;
        body:not(.rtl) & {
          margin-right: 1rem;
        }
        body.rtl & {
          margin-left: 1rem;
        }
      }
    }
    .search-input {
      background-color: #f2f2f2;
      border: none;
    }
    .search-icon {
      .input-group-text {
        background-color: #555555;
        border: none;
        border-radius: 0 !important;
        color: #fff;
      }
    }
  } */

  .more-to-explore {
    button {
      background-color: transparent;
      border-radius: 0;

      .icon {
        @include calc(top, "50% - 16px");
        position: absolute;
        body:not(.rtl) & {
          right: 1rem;
        }
        body.rtl & {
          left: 1rem;
        }
      }
    }
  }

  /* .link-group {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
    .book-group-link {
      text-decoration: underline;
      color: rgb(6, 112, 156);
    }
  } */
  .category-title-wrapper {
    // margin-top: 0.7rem;
    // margin-bottom: 0.5rem;
    .category-title {
      //   font-size: 1.3rem;
      font-weight: bold;
    }
    .category-icon {
      font-size: 1.5rem;
    }

    /* .slide-angle {
      .angle {
        font-size: 1.5rem;
      }
    } */
  }
  .carousel-wrapper {
    position: relative;

    .carousel-item-wrapper {
      height: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      // padding-top: 0.5rem;
      scrollbar-width: 0;
      &::-webkit-scrollbar {
        display: none;
      }
      .carousel-item {
        // margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;

        .img-wrapper {
          width: 7.5rem;
          height: 11rem;
          // background-color: yellow;
          overflow: hidden;
          img {
            max-width: 100%;
          }
        }
        .writer-name {
          font-size: 0.9rem;
          font-weight: 500;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          max-width: 7.5rem;
          margin-top: 0.25rem;
        }

        /* .rate-book {
        display: block;
        span {
          color: gray;
          font-size: 0.7rem;
        }
        .checked {
          color: orange;
        }
        .star-counter {
          display: inline;
          font-size: 0.8rem;
          color: rgb(5, 112, 156);
        }
      } */

        .rating-star {
          font-size: 0.7rem;
        }
        .rate-count {
          font-size: 0.7rem;
          color: rgb(5, 112, 156);

          /* body:not(.rtl) & {
          margin-left: 0.5rem;
        }
        body.rtl & {
          margin-right: 0.5rem;
        } */
        }
      }
      /* .first-slide {
      margin-left: 1rem;
    } */
    }
    .carousel-arrow {
      position: absolute;
      top: calc(50% - 0.5rem);
      cursor: pointer;
      width: 1rem;
      text-align: center;
      opacity: 0.5;
      @include transition(0.3s);

      &.go-back {
        body:not(.rtl) & {
          left: -2rem;
        }
        body.rtl & {
          right: -2rem;
        }
      }
      &.go-forward {
        body:not(.rtl) & {
          right: -2rem;
        }
        body.rtl & {
          left: -2rem;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  /* .store-main-menu-link {
    // margin-bottom: 5.4rem;
    border-bottom: 1px solid rgb(224, 224, 224);
    .link-box {
      border-top: 1px solid rgb(224, 224, 224);
      border-right: 1px solid rgb(224, 224, 224);
      border-left: 1px solid rgb(224, 224, 224);
    }
  } */
}
