.app-datepicker {
  &.form-group {
    .date-input-with-dialog-main {
      max-width: 100% !important;
      min-width: 0 !important;
      .form-control {
        &.date-input-with-dialog-input {
          pointer-events: none !important;
        }
        padding-top: 7px;
        &.inputs-wrapper {
          color: #000 !important;
          padding-bottom: 15px !important;
          .w-30p {
            width: 30%;
            max-width: 30% !important;
            .form-group {
              margin-bottom: 0 !important;
              border: none !important;
              border-radius: 0 !important;
              input {
                border: none !important;
                border-radius: 0 !important;
                max-height: 20px !important;
                padding: 0;
              }
            }
          }
          .w-3p {
            width: 3%;
            max-width: 3% !important;
          }
        }
        &.bg-color-disable {
          background-color: #e3e3e3 !important;
          cursor: not-allowed !important;
          pointer-events: none;
        }
      }
      .date-input-with-dialog-calendar {
        left: 0 !important;
      }
      .date-input-with-dialog-empty {
        display: none !important;
      }
      .JDatePicker {
        box-shadow: 2px 2px 7px 4px #ddd !important;
        .JC-days {
          .holder {
            .day-items:hover {
              background-color: #3358f4 !important;
            }
            .day-items.today {
              background-color: #33c7f4 !important;
            }
            .day-items.selected {
              background-color: #3358f4 !important;
            }
          }
        }
        &.day-items:hover {
          background-color: #3358f4 !important;
        }
        &.day-items.selected {
          background-color: #3358f4 !important;
        }
        .JC-Section.JC-Section-Year {
          background-color: #3358f4 !important;
        }
        .JC-Section{
          .MonthPicker{
            .MonthItems.selected{
              background-color: #3358f4 !important;
            }
          }
        }
        button {
          border: 1px solid #3358f4 !important;
          &:hover {
            background-color: #3358f4 !important;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
    &.all-event-disable {
      .date-input-with-dialog-main {
        .date-input-with-dialog-calendar {
          display: none !important;
        }
      }
    }
  }
}
