.app-datepicker {
  ////////  jalali_picker style
  &.form-group {
    .date-input-with-dialog-main {
      max-width: 100% !important;
      min-width: 0 !important;
      .form-control {
        &.date-input-with-dialog-input {
          pointer-events: none !important;
        }
        padding-top: 7px;
        &.inputs-wrapper {
          color: #000 !important;
          padding-bottom: 15px !important;
          .w-30p {
            width: 30%;
            max-width: 30% !important;
            .form-group {
              margin-bottom: 0 !important;
              border: none !important;
              border-radius: 0 !important;
              input {
                border: none !important;
                border-radius: 0 !important;
                max-height: 20px !important;
                padding: 0;
              }
            }
          }
          .w-3p {
            width: 3%;
            max-width: 3% !important;
          }
        }
        &.bg-color-disable {
          background-color: #e3e3e3 !important;
          cursor: not-allowed !important;
          pointer-events: none;
        }
      }
      .date-input-with-dialog-calendar {
        left: 0 !important;
        top: 0.2rem !important;
      }
      .date-input-with-dialog-empty {
        display: none !important;
      }
      .JDatePicker {
        box-shadow: 2px 2px 7px 4px #ddd !important;
        .JC-days {
          .holder {
            .day-items:hover {
              background-color: #3358f4 !important;
            }
            .day-items.today {
              background-color: #33c7f4 !important;
            }
            .day-items.selected {
              background-color: #3358f4 !important;
            }
          }
        }
        &.day-items:hover {
          background-color: #3358f4 !important;
        }
        &.day-items.selected {
          background-color: #3358f4 !important;
        }
        .JC-Section.JC-Section-Year {
          background-color: #3358f4 !important;
        }
        .JC-Section {
          .MonthPicker {
            .MonthItems.selected {
              background-color: #3358f4 !important;
            }
          }
        }
        button {
          border: 1px solid #3358f4 !important;
          &:hover {
            background-color: #3358f4 !important;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
    &.all-event-disable {
      .date-input-with-dialog-main {
        .date-input-with-dialog-calendar {
          display: none !important;
        }
      }
    }
  }
  ////////  gregorian_picker style
  .react-datepicker-wrapper {
    padding: 0 !important;
    display: block;
    width: 100%;
    border: none;
    &:focus {
      outline: none !important;
    }
    .react-datepicker__input-container {
      ////
      display: inline-block;
      position: relative;
      &::before {
        font-family: "FontAwesome";
        content: "\f073";
        position: absolute;
        left: 5px;
        top: 5px;
      }
      //////////
      &:focus {
        outline: none !important;
      }
      input {
        display: block;
        width: 100%;
        height: calc(1.3em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(29, 37, 59, 0.5);
        border-radius: 0.25rem;
        transition: border-color 0.15s;
        &:focus {
          outline: none !important;
          border-color: #007bff !important;
          box-shadow: none !important;
        }
      }
    }
  }
}
body:not(.rtl){
  .app-datepicker{
    .react-datepicker-wrapper {
      .react-datepicker__input-container {
        ////
        display: inline-block;
        position: relative;
        &::after {
          font-family: "FontAwesome";
          content: "\f073";
          position: absolute;
          right : 5px;
          top: 5px;
        }
        &::before{
          content: '';
        }
      }
    }
  }
}
