.app-dropzone {
  .dropzone-container {
    border: 1px solid #ced4da;
  }

  .dropzone {
    &:focus {
      outline: none !important;
    }
  }
  .drag-drop-section {
    // margin-top: 1rem;
    border: 2px dotted #ced4da;
    // color: #888888;
    // &:hover {
    //   border-color: #000;
    //   cursor: pointer;
    //   color: black !important;
    // }
  }

  .file-wrapper {
    border: 1px solid #ced4da;
    // border-radius: 0.3rem !important;
    // padding: 0;

    .file-item-row {
      display: flex;
      align-items: center;
      overflow: hidden;
      flex-wrap: wrap;

      .remove-file-btn {
        border-radius: 50px;
        padding: 0.125rem 0.5rem 0.115rem;
      }
      .file-preview {
        &.circle {
          img {
            border-radius: 50px;
          }
        }
      }
    }
  }
}
