.min-h-500px {
  min-height: 500px;
}

.direction-rtl {
  direction: $dir-mode-direction-inverse;
}

.direction-ltr {
  direction: $dir-mode-direction;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.h-40px {
  height: 40px;
}

.h-650px {
  height: 650px;
}

.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}

.max-w-25px {
  max-width: 25px;
}

.max-h-25px {
  max-height: 25px;
}

/*.dropdown-reverse.dropdown-menu { // note .rtl
  left: 0 !important;
  right: auto;
}*/

.opacity-5 {
  opacity: 0.5;
}

.opacity-full {
  opacity: 1;
}

.center-el-in-box {
  @include transform(translate(-50%, -50%));
  position: absolute;
  #{$dir-mode-align}: 50%;
  top: 50%;
}

.mt-32px {
  margin-top: 32px;
}

hr {
  border-color: #e7e8ec;
}

.pointer-events-none {
  pointer-events: none;
}

.position-relative {
  position: relative;
}

.vsdv {
  text-transform: uppercase;
}

/*
select, textarea.form-control {
  &:not(:focus) {
    @include box-shadow(none);
  }
}

body.modal-open {
  //max-height: 100vh;
  padding-#{$dir-mode-align}: 0 !important;
}

.only-print-visibility {
  visibility: hidden;
}*/

/*#region @media */

/*@media (min-width: $screen-md-min) {

}

@media only screen and (max-width: 880px) {

}

@media (min-width: $screen-sm-min) {

}*/

/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
)

@include media-breakpoint-up(xl) {}

@include media-breakpoint-between(lg, xl) {}

@include media-breakpoint-down(lg) {}
*/

/*#endregion */

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//sample color map class
//@each $color, $color-varient in $app-colors {
//    .test-#{$color} {
//        color: app-color($color, 'color');
//        Background-color: app-color($color);
//    }
//}

//sample if
//@if $dir-mode-direction == rtl {
//}
//@else {
//}

//sample calc mixin
//.test {
//    @include calc( width, '100% - 300px');
//}
