//1000
.dropdown-menu {
  z-index: $zindex-dropdown; //1000 -> bootstrap _variables
}

//1001
.fab-container {
  z-index: 1001;
}

//1002
.lds-roller-wrapper {
  z-index: 1;

  &.page-loader {
    z-index: 1002;
  }
}

tags-input auto-complete {
  z-index: $zindex-dropdown; //12;//10 -> z-directives _tags-input
}

//10002
/*ngx-loading-bar {
  #loading-bar-spinner, #loading-bar .bar {
    z-index: 10002;
  }
}*/
